.Font-family: 
.Nav {
	width: 1200px;
	height: 2400px;
	position: absolute;
  	border: solid black 1px;
  	background-image: url(images/navigation_bar.jpg);
  	background-size: 100%;
}
.Home{
	position: absolute;
	width: 1200px;
	height: 200px;
	background-image: url('images/Backgroundimage_Home.jpg');
	background-size: 100%; 
}

.logo {

}

.call-to-action {
 Font-family:;
 position: absolute;
 top:100px;
 left: 200px;
}

.call-to-action .buttons {

}

